node_modules
/react-frontend/node_modules/
/react-frontend/build/
/react-frontend/.idea
/react-frontend/.env
/nest-backend/node_modules/
/nest-backend/.idea
nest-backend/.env
/nest-backend/dist/
mongodb
.idea
/react-frontend/.idea/
/nest-backend/.idea/
